{% extends "layout.html" %}

{% block title %}
{{ book.name }}
{% endblock %}

{% block body %}
<h1>Title: {{ book.title }}</h1>
<h3>ISBN: {{ book.isbn }}</h3>
<h3>Author: {{ book.author }}</h3>
<h3>Publish Year: {{ book.year }}</h3>

<a href="{{ url_for('review', book_id=book.id) }}">Add a review</a>
<div class="reviews">
  {% for review in reviews %}
    <h4>{{ review.username }}</h4>
    <h5>{{ review.rating }}</h4>
    <h2>{{ review.review_title }}</h4>
    <p>{{ review.review_body }}</p>
  {% endfor %}
</div>
{% endblock %}
