{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block body %}
<h1 class="main">Register</h1>
<div class="container">
  <form action="{{ url_for('register') }}" method="post">
    <div class="form-group custom-form">
      <input id="username" class="form-control" type="text" name="username" placeholder="Username">
      <input id="password" class="form-control" type="password" name="password" placeholder="Password">
      <button class="btn btn-primary">Register</button>
    </div>
  </form>
</div>


{% endblock %}
